<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "/css/style.css">
        <link rel="icon" href="/img/weather.png">
        <title>About</title>
    </head>
        <body>
            <div class = "main-content">
                {{>header}}
                <p>This site is created by Tabrez.It uses the data from mapbox.com and darksite.net. </p>
               <!-- <p>created by {{name}}</p> -->
            </div>
            
            {{>footer}}
        </body>
    
</html>